/* 
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/
[data-tooltip] {
    position: relative;
  }
  
  /* Positioning and visibility settings of the tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    will-change: transform;
  }
  
  /* The actual tooltip with a dynamic width */
  [data-tooltip]:before {
    content: attr(data-tooltip);
    z-index: 999999999999;
    padding: 8px 10px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 900;
    background-color: rgb(61, 60, 60);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -8px) scale(0.5);
    transition: all 0.1s!important;
  }
  
  /* Tooltip arrow */
  [data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 8px 8px 0px 8px; /* CSS triangle */
    border-color: rgb(61, 60, 60) transparent transparent transparent;
    transform-origin: top; 
    transform: translateX(-50%) scaleY(0);
    transition: all 0.1s!important;
  }
  
  /* Tooltip becomes visible at hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
  /* Scales from 0.5 to 1 -> grow effect */
  [data-tooltip]:hover:before {
    transform: translate(-50%, -8px) scale(1);
  }
  /* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */
  [data-tooltip]:hover:after {
    transform: translateX(-50%) scaleY(1);
  }
  /*
    That's it.
  */